.header{
        height: 60px;
        display: flex;
        align-items: center;
        background-color: white;
        top: 0;
        z-index: 100;
}


.header_logo {
        width: 70px;
        object-fit: contain;
        margin: 0 10px;
        margin-top: 10px;
        margin-bottom: 10px;
}

.header_search{
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 24px;
}
.header_searchInput {
        height: 12px;
        padding: 10px;
        border: none;
        width: 100%;
}
.header_searchIcon{
        padding: 5px;
        height: 22px;
        background-color: green;
}
.header_optionLineOne{
        font-size: 15px;
        color: black;
}
.header_optionLineTwo{
        font-size: 20px;
        color: black;
}
.header_optionBasket{
        display: flex;
        align-items: center;
        color: black;
}
.header_nav{
        display: flex;
        justify-content: space-evenly;
}
.header_option{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        color: white; 

}